@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500&display=swap');
* {
    border: 0;
    padding: 0;
    margin: 0;
    font-family: 'Inter', sans-serif;
}

@font-face {
    font-family: BreeSerif;
    src: url(fontes/BreeSerif-Regular.ttf);
}

@font-face {
    font-family: Shirikhand;
    src: url(fontes/Shrikhand-Regular.ttf);
}

.logo{
    width: 250px;
    height: 50px;

}
.logo.scrolled{
    width: 150px;
}
.logo.open{
    width: 150px;
}
.logo img{
    width: 250px;
    position: absolute;
}
.logo img.scrolled{
    width: 150px;
}
.logo img.open{
    width: 150px;
}

header {
    width: 100%;
    height: 100px;
    position: fixed;
    z-index: 10;

    background-color: #4A1206;
}
header.scrolled{
    background-color: #4A1206;
}
.nav-bar{
    width: 100%;
    height: 100%;
}
.nav-list{
    width: 100%;
    height: 100%;
}
.nav-list ul{
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: space-around;
    align-items: center; 

    text-decoration: none;
}

ul{
    display: flex;
    padding: 0px;
    margin-right: 50px;
}
.nav-list ul li{
    list-style-type: none;
}
.nav-list ul a{
    font-size: 36px;
    color: #FFF;

    text-decoration: none;
    font-family: Shirikhand;
}
.nav-list ul a:hover{
    color: #fe8610;
}
.mobile-menu-icon {
    display: none;
}

.mobile-menu {
    display: none;
}
.mobile-menu ul a{
    text-decoration: none;
    font-family: 'Happy Monkey', cursive;
    font-size: 25px;
    color: #b05851;
}
.mobile-menu ul a:hover{
    color: #6d0000;
}

#logoNav{
    width: 125px;
    height: 100px;
    
}

/*#logoNave{
    margin-right: 15px;
}*/

#principal{
    position: relative;
    width: 100%;
    height: 2000px;
    background-image: url(imagens/background.png);
    background-repeat: no-repeat;
    background-size: cover;
}


#sobreMim{
    position: relative;
    width: 100%;
    height: 1000px;
    
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items:center;
}


#farinha{
    position: absolute;
    margin-top: 30px;
    width: 700px;
    height: 700px;
    z-index: 0;
    background-image: url(imagens/Farinha.png);
    background-repeat: no-repeat;
    background-size: cover;
}



#morango{
    position: absolute;
    margin-top: 680px;
    width: 400px;
    height: 400px;
    z-index: 0;
    background-image: url(imagens/morango.png);
    background-repeat: no-repeat;
    background-size: cover;
}


#sobreMimDentro{
    position: relative;
    width: 85%;
    height: 800px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

#sobreMimTexto{
    position: relative;
    width: 45%;
    height: 500px;
   
}

#titulo_sobre{
    position: relative;
    width: 100%;
    height: 110px;
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFF;
    font-size: 65px;
    font-family: Shirikhand;
}

#texto_sobre{
    position: relative;
    width: 100%;
    height: 400px;
    margin-top: 0px;
    display: flex;
    font-family: BreeSerif;
    justify-content: center;
    color: #FFF;
    font-size: 30px;
    
}

#yuri{
    position: relative;
    width: 49%;
    height: 875px;
    border-radius: 15px;
    background-image: url(imagens/Yuri.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 1;
}

#chocolate1{
    position: absolute;
    margin-top: 1400px;
    width: 872px;
    height: 710px;
    right: 0;
    background-image: url(imagens/chocolate1.png);
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 0;
}

#trabalhos{
    display: flex;
    position: relative;
    width: 100%;
    z-index: 1;
    height: 650px;
        margin-top: 120px;
    
    
}

#titulo_trabalhos{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 550px;
    height: 100px;
    margin-left: 200px;
    color: #FFF;
    font-size: 65px;
   margin-left: 650px;
   font-family: Shirikhand;
}

#boloChocolate1{
    position: relative;
    width: 425px;
    height: 500px;
    background-image: url(imagens/boloCarrossel.png);
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 140px;
    float: left;
    z-index: 1;
}

#carrossel_trabalhos{
    margin-left: 0px;
    position: relative;
    width: 880px;
    height: 450px;
    margin-top: 150px;
    background-color: aquamarine;
    float: left;
    margin-left: 5px;
    
}

.container{
    position: absolute;
    left:50%;
    top:50%;
    transform: translate(-50%,-50%);
    width:1000px;
    height:600px;
    padding:50px;
    background-color: #f5f5f5;
    box-shadow: 0 30px 50px #dbdbdb;
}
#slide{
    width:max-content;
    margin-top:50px;
}
.item{
    width:200px;
    height:300px;
    background-position: 50% 50%;
    display: inline-block;
    transition: 0.5s;
    background-size: cover;
    position: absolute;
    z-index: 1;
    top:50%;
    transform: translate(0,-50%);
    border-radius: 20px;
    box-shadow:  0 30px 50px #505050;
}
.item:nth-child(1),
.item:nth-child(2){
    left:0;
    top:0;
    transform: translate(0,0);
    border-radius: 0;
    width:100%;
    height:100%;
    box-shadow: none;
}
.item:nth-child(3){
    left:50%;
}
.item:nth-child(4){
    left:calc(50% + 220px);
}
.item:nth-child(5){
    left:calc(50% + 440px);
}
.item:nth-child(n+6){
    left:calc(50% + 660px);
    opacity: 0;
}
.item .content{
    position: absolute;
    top:50%;
    left:100px;
    width:300px;
    text-align: left;
    padding:0;
    color:#eee;
    transform: translate(0,-50%);
    display: none;
    font-family: system-ui;
}
.item:nth-child(2) .content{
    display: block;
    z-index: 11111;
}
.item .name{
    font-size: 40px;
    font-weight: bold;
    opacity: 0;
    animation:showcontent 1s ease-in-out 1 forwards
}
.item .des{
    margin:20px 0;
    opacity: 0;
    animation:showcontent 1s ease-in-out 0.3s 1 forwards
}
.item button{
    padding:10px 20px;
    border:none;
    opacity: 0;
    animation:showcontent 1s ease-in-out 0.6s 1 forwards
}
@keyframes showcontent{
    from{
        opacity: 0;
        transform: translate(0,100px);
        filter:blur(33px);
    }to{
        opacity: 1;
        transform: translate(0,0);
        filter:blur(0);
    }
}
.buttons{
    position: absolute;
    bottom:30px;
    z-index: 222222;
    text-align: center;
    width:100%;
}
.buttons button{
    width:50px;
    height:50px;
    border-radius: 50%;
    border:1px solid #555;
    transition: 0.5s;
}.buttons button:hover{
    background-color: #bac383;
}
  

#chocolate2{
    position: absolute;
    width: 573px;
    height: 427px;
    background-image: url(imagens/chocolate2.png);
    background-repeat: no-repeat;
    background-size: 500px;
    z-index: 0;
}



#avaliacoes{
    position: relative;
    width: 100%;
    height: 750px;
    background-image: url(imagens/avalicacao.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    clear: left;
}

#tituloAvaliacao{
    position: relative;
    color: #FFF;
    margin-top: 50px;
    text-align: center;
    font-size: 75px;
    font-family: Shirikhand;
}

#avaliacao1, #avaliacao3{
    position: relative;
    width: 45%;
    height: 75px;
    background-color: #FFF;
    margin-top: 50px;
    margin-left: 45px;
    border-radius: 25px;
}

#avaliacao2, #avaliacao4{
    position: relative;
    width: 45%;
    height: 75px;
    background-color: #FFF;
    margin-top: 75px;
    margin-left: 650px;
    border-radius: 25px;
}





#contato{
    position: relative;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 500px;
    background-color: #8C240F;
    
}

#imagem_moca{
    position: relative;
    width: 50%;
    height: 100%;
    
}

#imagem_moca img{
    height: 100%;
    width: 100%;
}

#contatos{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 50%;
    height: 100%;
    background-color: #8C240F;
}

#contato1{
    width: 450px;
    height: 450px;
    
    display: flex;
    flex-direction: column;
    align-items: center;

}

#frase_contato{
    display: flex;
    justify-content: center;
    margin-top: 75px;
    font-size: 35px;
    color: #fff;
    font-family: Shirikhand;
    white-space: nowrap;
}

#telefone1{
    margin-top: 50px;
    border-radius: 45px;
    width: 400px;
    height: 75px;
    background-color: #4A1206;
}

#instagram1{
    margin-top: 50px;
    border-radius: 45px;
    width: 400px;
    height: 75px;
    background-color: #4A1206;
}

footer{
    position: relative;
    width: 100%;
    height: 250px;
    background-color: #4A1206;
    display: flex;
    flex-direction: column;

}

#footer1{
    margin-top: 25px;
    width: 99.7%;
    height: 150px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#logo_footer{
    margin-left: 50px;
    width: 250px;
    height: 100%;
    background-color: violet;
    border-radius: 25px;
}

#logo_footer img{
    width: 100%;
    height: 100%;
}

#icones{
    width: 250px;
    height: 100%;
        border-radius: 25px;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-evenly;
}

#telefone2, #instagram2{
    width: 70px;
    height: 70px;
        display: flex;
    justify-content: center;
    align-items: center;
}

#telefone2 img, #instagram2 img{
    width: 100%;
    height: 100%;
    z-index: 1;
}




#linha{
    width: 100%;
    height: 2px;
    background-color: #fff;
    margin-top: 25px;
}

#frase_footer{
    text-align: center;
    color: #fff;
    font-size: 25px;
    margin-top: 10px;
}



@media screen and (max-width: 730px) {
    .nav-bar {
        padding: 1.5rem 4rem;
    }
    .nav-item {
        display: none;
    }
    .login-button {
        display: none;
    }
    .mobile-menu-icon {
        display: block;
    }
    .mobile-menu-icon button {
        background-color: transparent;
        border: none;
        cursor: pointer;
    }
    .mobile-menu ul {
        display: flex;
        flex-direction: column;
        text-align: center;
        padding-bottom: 1rem;
    }
    .mobile-menu .nav-item {
        display: block;
        padding-top: 1.2rem;
    }
    .mobile-menu .login-button {
        display: block;
        padding: 1rem 2rem;
    }
    .mobile-menu .login-button button {
        width: 100%;
    }
    .open {
        display: block;
    }
}





.mobile-menu-icon {
    display: none;
}

.mobile-menu {
    display: none;
}

@media screen and (max-width: 730px) {
    .nav-bar {
        padding: 1.5rem 4rem;
    }
    .nav-item {
        display: none;
    }
    .login-button {
        display: none;
    }
    .mobile-menu-icon {
        display: block;
    }
    .mobile-menu-icon button {
        background-color: transparent;
        border: none;
        cursor: pointer;
    }
    .mobile-menu ul {
        display: flex;
        flex-direction: column;
        text-align: center;
        padding-bottom: 1rem;
    }
    .mobile-menu .nav-item {
        display: block;
        padding-top: 1.2rem;
    }
    .mobile-menu .login-button {
        display: block;
        padding: 1rem 2rem;
    }
    .mobile-menu .login-button button {
        width: 100%;
    }
    .open {
        display: block;
    }
}
